
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&family=Roboto+Flex:wght@300;400;500;600;700;800;900&display=swap');
.cta-button{
    border: solid 2px fuchsia;
}
.nav-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content:space-between;
}
.barramenu{
    position: relative; 
    font-size: large;
    font-weight: 600px; 
    word-spacing: 50px;
}
body{
    background-color: rgb(2, 0, 0); color: white;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}
.seccion1{
    position: relative;
    top: 250px;
}
.seccion2 {
    position: relative;
    display: flex;
    justify-content: end;
}

.imagen1 {

}
.seccion3{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    left: 50px;
}

.titulo{
    font-weight: 900;
    font-size: 50px;
}
.box1, .box2, .box3 {
    position: relative;
    display: inline;
    height: 300px;
    width: 300px;
}
.box1{
    background-color: deeppink;
}
.box2{
    background-color: rgb(34, 34, 34);
}
.box3{
    background-color: rgb(34, 34, 34);
}

.bloque2{
    position: relative;
}

 




h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
h4{
    color: deeppink; text-transform: uppercase;
}
footer{
    color: aliceblue;
}
